<aside id="rightSidebar">
    <div style="border-style: solid; padding: 20px; position: sticky; top: 20px;">
        <h1>NAV</h1>
        <nav id="nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about/">About</a>
                </li>
                <li>
                    <a href="/games/">Games</a>
                </li>
                <ul>
                    <li>
                        <a href="/games/be-kind-rewind/demo/">BE KIND REWIND</a>
                    </li>
                    <li>
                        <a href="/games/terror-in-toyland/">Terror in Toyland</a>
                    </li>
                    <li>
                        <a href="/games/pit-boss/">Pit Boss</a>
                    </li>
                    <li>
                        <a href="/games/fruits-n-brutes/">Fruits 'n Brutes</a>
                    </li>
                    <li>
                        <a href="/games/mining-diamonds/">Mining Diamonds</a>
                    </li>
                </ul>
                <li>
                    <a href="https://linktr.ee/Will.Parker" target="_blank">Socials</a>
                </li>
                <ul>
                    <li>
                        <a href="https://will-parker.itch.io/" target="_blank">ITCH</a>
                    </li>
                    <li>
                        <a href="https://github.com/Will-Parker" target="_blank">GitHub</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/william-parker-dev/" target="_blank">LinkedIn</a>
                    </li>
                </ul>
            </ul>
        </nav>
    </div>
</aside>