<div id="settings">
    <h2>OPTIONS</h2>
    <div>
        <p>Theme select:</p>
        <div>
            <button class="theme-toggle" theme-color="red">
                <div style="background-color: red;"></div>
            </button>
            <button class="theme-toggle" theme-color="orange">
                <div style="background-color: orange;"></div>
            </button>
            <button class="theme-toggle" theme-color="yellow">
                <div style="background-color: yellow;"></div>
            </button>
            <button class="theme-toggle" theme-color="chartreuse">
                <div style="background-color: chartreuse;"></div>
            </button>
            <button class="theme-toggle" theme-color="aqua">
                <div style="background-color: aqua;"></div>
            </button>
            <button class="theme-toggle" theme-color="deepskyblue">
                <div style="background-color: deepskyblue;"></div>
            </button>
            <button class="theme-toggle" theme-color="fuchsia">
                <div style="background-color: fuchsia;"></div>
            </button>
            <button class="theme-toggle" theme-color="white">
                <div style="background-color: white;"></div>
            </button>
        </div>
    </div>
</div>